**/__pycache__/**
**/.venv/**
.DS_Store
**egg-info/
uv.lock

data/*
!**.gitkeep
!data/raw/conversion-lifecycle-generation/**
!data/raw/HydroManipulator_example_Fabian/hydroManipulator_config.json

**python_outputs**

mock-plugin/cc-py-sdk/
mock-plugin/seed/
